h3{
            color:blue;
            font-size: 55px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color:antiquewhite;
        }
        /* ID name */
        #myid{
            color:red;
            background-color:black;
            font-size: 66px;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
        }
        /* Box model */
         padding: 20px;
         margin: 20px;
         border-radius: 20px;
         border-color:blue;
         border-style: dotted;
         border-width: 2px;


        
        /*  class name */
        .myclass{
            color:fuchsia;
            background-color: darkseagreen;
            font-size: 33px;
            font-family:sans-serif;
            
        }
